<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h2>Interview Manager Application</h2>
    <br>
    <br>
    <form action="/add" method="post">
      <label for="candidate_name">Candidate name</label>
      <input type="text" name="candidate_name" />
      <br>
      <label for="cv_score">CV score</label>
      <input type="text" name="cv_score"/>
      <br>
      <label for="interviewer">Interviewer</label>
      <input type="text" name="interviewer"/>
      <br>
      <button class="btn btn-success" type="submit">Add candidate</button>
    </form>
    <br>
    <a href="/">Back</a>
  </body>

